* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  background-color: black;
  color: white;
}

.button {
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 30px;
}
.button:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.top-gap {
  height: 5px;
  width: 100%;
}

#top-bar {
  position: sticky;
  z-index: 10;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "nav-left nav-middle nav-right";
  height: 40px;
  width: calc(100% - 5px);
  background-color: black;
}
#top-bar .nav-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  padding: 0 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 18px;
  height: 100%;
  border-radius: 20px;
}
#top-bar .nav-item:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
#top-bar .nav-left {
  display: flex;
  justify-content: flex-start;
}
#top-bar .nav-right {
  display: flex;
  justify-content: flex-end;
}
#top-bar #hamburger {
  margin-left: 0px;
}
#top-bar #logo {
  padding-left: 5px;
  padding-right: 20px;
}
#top-bar #logo:hover {
  background-color: black;
}
#top-bar #logo img {
  height: 36px;
  padding-right: 4px;
}
#top-bar #logo div {
  font-weight: 700;
  font-size: 22px;
}

#side-bar {
  position: absolute;
  z-index: 11;
  width: 250px;
  height: calc(100vh - 40px - 10px);
  background-color: rgb(150, 20, 20);
  overflow-y: auto;
  filter: drop-shadow(0 0 10px black);
}
#side-bar::-webkit-scrollbar {
  width: 8px;
}
#side-bar::-webkit-scrollbar-thumb {
  background-color: white;
  border: 2px solid rgb(150, 20, 20);
  border-radius: 100px;
}
#side-bar::-webkit-scrollbar-track {
  background-color: rgb(150, 20, 20);
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 0, 0, 0.5);
}

.side-bar-item-container .side-bar-item {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}
.side-bar-item-container .side-bar-item .dropdown-toggle {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 70px;
  align-items: center;
  justify-content: center;
}
.side-bar-item-container .side-bar-item .dropdown-toggle:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.side-bar-item-container .side-bar-item .dropdown-toggle .dropdown-text {
  padding-left: 20px;
}
.side-bar-item-container .side-bar-item .dropdown-toggle h1 {
  text-align: left;
  font-size: 18px;
}
.side-bar-item-container .side-bar-item .dropdown-toggle p {
  text-align: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.side-bar-item-container .side-bar-expandable-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(155, 67, 67);
}
.side-bar-item-container .side-bar-expandable-container .side-bar-expandable {
  font-size: 14px;
  color: white;
  width: 100%;
  height: 30px;
  padding: 5px;
  text-align: left;
  padding-left: 45px;
}
.side-bar-item-container .side-bar-expandable-container .side-bar-expandable:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#bracket-container {
  height: calc(100vh - 40px - 10px);
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
#bracket-container #bracket-info {
  padding-bottom: 50px;
}
#bracket-container #bracket-info h1 {
  font-size: 40px;
}
#bracket-container #bracket-info h2 {
  font-size: 30px;
}
#bracket-container #bracket-info h3 {
  font-size: 20px;
  color: lightgrey;
  font-style: italic;
}
#bracket-container #bout {
  height: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}
#bracket-container #bout .entry {
  max-width: 720px;
  width: 40vw;
  padding: 20px;
  border-radius: 10px;
  border: black 2px solid;
}
#bracket-container #bout .entry:hover {
  cursor: pointer;
  border: white 2px solid;
}
#bracket-container #bout .entry.selected {
  background-color: white;
  color: black;
  border: white 2px solid;
}
#bracket-container #bout .entry iframe {
  width: 75%;
  height: calc(width / 16 * 9);
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */