#side-bar {
  overflow-y: auto;
  position: absolute;
  z-index: 11;
  width: 250px;
  height: calc(100vh - 40px - 10px);
  background-color: rgb(150, 20, 20);
  filter: drop-shadow(0 0 10px black);
}
#side-bar::-webkit-scrollbar {
  width: 8px;
}
#side-bar::-webkit-scrollbar-thumb {
  background-color: white;
  border: 2px solid rgb(150, 20, 20);
  border-radius: 100px;
}
#side-bar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#side-bar #side-bar-bottom {
  height: 30px;
  width: 100%;
}

.overlay {
  z-index: 9;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 0, 0, 0.5);
}

.side-bar-item-container .side-bar-item {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}
.side-bar-item-container .side-bar-item .dropdown-toggle {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 70px;
  align-items: center;
  justify-content: center;
}
.side-bar-item-container .side-bar-item .dropdown-toggle:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.side-bar-item-container .side-bar-item .dropdown-toggle .dropdown-text {
  padding-left: 15px;
}
.side-bar-item-container .side-bar-item .dropdown-toggle h1 {
  text-align: left;
  font-size: 18px;
}
.side-bar-item-container .side-bar-item .dropdown-toggle p {
  text-align: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.side-bar-item-container .side-bar-expandable-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(155, 67, 67);
}
.side-bar-item-container .side-bar-expandable-container .side-bar-expandable {
  font-size: 14px;
  color: white;
  width: 100%;
  height: 30px;
  padding: 5px;
  text-align: left;
  padding-left: 20px;
}
.side-bar-item-container .side-bar-expandable-container .side-bar-expandable:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.top-gap {
  height: 5px;
  width: 100%;
}

#top-bar {
  position: sticky;
  z-index: 10;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "nav-left nav-middle nav-right";
  height: 40px;
  width: calc(100% - 5px);
  background-color: black;
}
#top-bar .nav-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  padding: 0 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 18px;
  height: 100%;
  border-radius: 20px;
}
#top-bar .nav-item:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
#top-bar .nav-left {
  display: flex;
  justify-content: flex-start;
}
#top-bar .nav-right {
  display: flex;
  justify-content: flex-end;
}
#top-bar #hamburger {
  margin-left: 0px;
}
#top-bar #logo {
  padding-left: 5px;
  padding-right: 20px;
}
#top-bar #logo:hover {
  background-color: black;
}
#top-bar #logo img {
  height: 36px;
  padding-right: 4px;
}
#top-bar #logo div {
  font-weight: 700;
  font-size: 22px;
}

#bracket-container {
  height: calc(100vh - 40px - 10px);
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  overflow-y: auto;
  padding: 40px;
}
#bracket-container::-webkit-scrollbar {
  width: 8px;
}
#bracket-container::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
}
#bracket-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#bracket-container #bracket-info {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 15px;
}
#bracket-container #bracket-info h1 {
  font-size: 40px;
  font-weight: 900;
  color: white;
}
#bracket-container #bracket-info h2 {
  font-size: 30px;
  color: lightgrey;
}
#bracket-container #bracket-info h3 {
  font-size: 20px;
  color: grey;
  font-style: italic;
}
#bracket-container #bracket-info p {
  font-size: 14px;
  font-weight: 700;
  padding: 3px 15px;
  color: #010101;
  background-color: rgba(255, 51, 51, 0.5);
  border-radius: 30px;
}
#bracket-container #bout {
  height: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}
#bracket-container #bout .entry {
  max-width: 1480px;
  max-height: 820px;
  width: 40vw;
  padding: 20px;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0) 2px solid;
}
#bracket-container #bout .entry:hover {
  cursor: pointer;
  border: rgba(150, 20, 20, 0.7) 2px solid;
  background-color: rgba(150, 20, 20, 0.3);
}
#bracket-container #bout .entry.selected {
  background-color: rgba(150, 20, 20, 0.7);
  color: white;
  border: rgba(150, 20, 20, 0.7) 2px solid;
}
#bracket-container #bout .entry.selected:hover {
  border: rgba(150, 20, 20, 0.7) 2px solid;
  background-color: rgba(150, 20, 20, 0.7);
}
#bracket-container #bout .entry iframe {
  max-width: 1280px;
  max-height: 720px;
  width: min(30vw, 50vh);
  height: calc(min(30vw, 50vh) / 16 * 9);
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px black);
}
#bracket-container #bout .entry .entry-name {
  text-align: center;
  font-size: 24px;
  filter: drop-shadow(0 0 5px black);
}

#winner-showcase {
  height: calc(100vh - 40px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
#winner-showcase h2 {
  font-size: 50px;
  font-weight: 900;
  color: white;
  margin-bottom: 30px;
}
#winner-showcase iframe {
  height: 40vh;
  width: 71.1111111111vh;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 20px;
  filter: drop-shadow(0 0 15px yellow);
}
#winner-showcase #winner-name {
  text-align: center;
  font-size: 30px;
  filter: drop-shadow(0 0 5px black);
  margin-bottom: 70px;
}
#winner-showcase .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#overlay2 {
  z-index: 12;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 0, 0, 0.5);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 1fr 70% 1fr;
  grid-template-areas: "clickable1 clickable3 clickable2" "clickable1 canvas-area clickable2" "clickable1 clickable4 clickable2";
}
#overlay2 #canvas-container {
  grid-area: canvas-area;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: drop-shadow(0 0 10px black);
  flex-direction: column;
}
#overlay2 #canvas-container::-webkit-scrollbar {
  width: 8px;
}
#overlay2 #canvas-container::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid black;
  border-radius: 100px;
}
#overlay2 #canvas-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#overlay2 #canvas-container::-webkit-scrollbar {
  height: 8px;
}
#overlay2 #canvas-container::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid black;
  border-radius: 100px;
}
#overlay2 #canvas-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#overlay2 #canvas-container #bracket-canvas {
  z-index: 20;
  border: 1px solid white;
}
#overlay2 .clickable1 {
  grid-area: clickable1;
  width: 100%;
  height: 100%;
}
#overlay2 .clickable2 {
  grid-area: clickable2;
  width: 100%;
  height: 100%;
}
#overlay2 .clickable3 {
  grid-area: clickable3;
  width: 100%;
  height: 100%;
}
#overlay2 .clickable4 {
  grid-area: clickable4;
  width: 100%;
  height: 100%;
}
#overlay2 .clickable4 p {
  z-index: 21;
  margin-top: 5px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  filter: drop-shadow(0 0 5px black);
}

#about-container {
  overflow-y: auto;
  height: calc(100vh - 40px - 10px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#about-container::-webkit-scrollbar {
  width: 8px;
}
#about-container::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid black;
  border-radius: 100px;
}
#about-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
#about-container h1 {
  font-size: 50px;
  font-weight: 900;
  color: white;
  margin-bottom: 10px;
  margin-top: 50px;
}
#about-container h2 {
  font-size: 30px;
  margin-bottom: 40px;
}
#about-container p {
  font-size: 20px;
  width: 60%;
  margin-bottom: 15px;
}
#about-container .test {
  height: 300vh;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  background: linear-gradient(180deg, rgb(0, 0, 0) 20%, rgb(2, 0, 36) 80%, rgb(150, 20, 20) 95%, rgb(255, 0, 26) 100%) no-repeat;
  color: white;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.hidden2 {
  display: none;
  height: 0px;
}

.button {
  color: black;
  background-color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 30px;
  border-color: white;
  border: 3px solid white;
  background-color: black;
  color: white;
  filter: drop-shadow(0 0 5px black);
}
.button:hover {
  cursor: pointer;
  background-color: #e32d2d;
}

#footer {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-align: right;
  font-size: 12px;
}
#footer a {
  color: inherit;
  text-decoration: underline;
  opacity: inherit;
}
#footer a:hover {
  cursor: pointer;
  color: white;
}/*# sourceMappingURL=main.css.map */