@use 'vars';

#about-container {
	@include vars.main-y-scroll();

	height: calc(100vh - vars.$top-bar-height - (2 * vars.$top-bar-margin));
	width: 100%;	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	
	h1 {
		font-size: 50px;
		font-weight: 900;
		color: white;
		margin-bottom: 10px;
		margin-top: 50px;
	}

	h2 {
		font-size: 30px;
		margin-bottom: 40px;
	}
	p {
		font-size: 20px;
		width: 60%;
		margin-bottom: 15px;
	}
	.test {
		height: 300vh;
		font-size: 20px;
	}
}
