@use 'vars';

#bracket-container {
	height: calc(100vh - vars.$top-bar-height - (2 * vars.$top-bar-margin));
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	overflow-y: auto;
	padding: 40px;
	
	&::-webkit-scrollbar {
		width: 8px;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: white;
		border: 1px solid rgba(0,0,0,1);
		border-radius: 100px;
	}
	
	&::-webkit-scrollbar-track {
		background-color: rgba(0,0,0,0)
	}
	
	#bracket-info {
		margin-top: calc(vars.$top-bar-height + 2 * vars.$top-bar-margin);
		margin-bottom: 30px;
		padding: 15px;
		
		h1 {
			font-size: 40px;
			font-weight: 900;
			color: white;
		}
		h2 {
			font-size: 30px;
			color: lightgrey;
		}
		h3 {
			font-size: 20px;
			color: grey;
			font-style: italic;
		}
		p {
			font-size: 14px;
			font-weight: 700;
			padding: 3px 15px;
			color: darken(grey, 50%);
			background-color: rgba(lighten(#f00, 10%), 0.5);
			border-radius: 30px;
		}
	}
	
	#bout {
		height: auto;
		display: flex;
		justify-content: center;
		gap: 50px;
		padding-bottom: 50px;
		
		.entry {
			max-width: 1480px;
			max-height: 820px;
			width: 40vw;
			padding: 20px;
			border-radius: 10px;
			border: rgba(0,0,0,0) 2px solid;
			
			&:hover {
				cursor: pointer;
				border: vars.$bout-selected 2px solid;
				background-color: vars.$bout-hover;
			}
			
			&.selected {
				background-color: vars.$bout-selected;
				color: white;
				border: vars.$bout-selected 2px solid;
				
				&:hover {
					border: vars.$bout-selected 2px solid;
					background-color: vars.$bout-selected;
				}
				
			}
			
			iframe {
				max-width: 1280px;
				max-height: 720px;
				width: min(30vw, 50vh);
				height: calc(min(30vw, 50vh) / 16 * 9);
				border: rgba(255, 255, 255, 0.5) 1px solid;
				border-radius: 10px;
				filter: drop-shadow(0 0 5px black);
			}
			
			.entry-name {
				text-align: center;
				font-size: 24px;
				filter: drop-shadow(0 0 5px black);
			}
		}
	}
}


#winner-showcase {
	height: calc(100vh - vars.$top-bar-height - (2 * vars.$top-bar-margin));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;

	h2 {
		font-size: 50px;
		font-weight: 900;
		color: white;
		margin-bottom: 30px;
	}

	iframe {
		height: 40vh;
		width: calc(40vh * 16 / 9);
		border: rgba(255, 255, 255, 0.5) 1px solid;
		border-radius: 20px;
		filter: drop-shadow(0 0 15px yellow);
	}

	#winner-name {
		text-align: center;
		font-size: 30px;
		filter: drop-shadow(0 0 5px black);
		margin-bottom: 70px;
	}
	
	.button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
}


#overlay2 {
	z-index: 12;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 0, 0, 0.5);

	display: grid;
	justify-content: center;
	align-items: center;

	grid-template-columns: 1fr 60% 1fr;
	grid-template-rows: 1fr 70% 1fr;
	grid-template-areas: 
		'clickable1 clickable3 clickable2' 
		'clickable1 canvas-area clickable2'
		'clickable1 clickable4 clickable2';


	#canvas-container {
		grid-area: canvas-area;
		@include vars.main-y-scroll();
		@include vars.main-x-scroll();
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		filter: drop-shadow(0 0 10px black);
		flex-direction: column;
	
		#bracket-canvas {
			z-index: 20;
			border: 1px solid white;
		}
	}
	
	
	.clickable1 {
		grid-area: clickable1;
		width: 100%;
		height: 100%;
	}
	.clickable2 {
		grid-area: clickable2;
		width: 100%;
		height: 100%;
	}
	.clickable3 {
		grid-area: clickable3;
		width: 100%;
		height: 100%;
	}
	.clickable4 {
		grid-area: clickable4;
		width: 100%;
		height: 100%;
	
		p {
			z-index: 21;
			margin-top: 5px;
			color: white;
			font-size: 20px;
			font-weight: 700;
			filter: drop-shadow(0 0 5px black);
		}
	}
}



