$top-bar-height: 40px;
$top-bar-margin: 5px;
$side-bar-width: 250px;
$color-hover: white;
$background-color-nav-hover: rgba(255, 255, 255, 0.2);
$background-color-nav: black;
$background-color-sidebar: rgba(150, 20, 20, 1);
$background-color-selected: white;

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	line-height: 1.5;

}
body {
	background-color: black;
	color: white;
}

.button {
	color: black;
	background-color: white;
	padding: 15px;
	border-radius: 50px;
	font-weight: 800;
	font-size: 30px;
	&:hover {
		cursor: pointer;
	}
}

.hidden {
	visibility: hidden;
	height: 0;
}


.top-gap {
	height: $top-bar-margin;
	width: 100%;
}

#top-bar {
	position: sticky;
	z-index: 10;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'nav-left nav-middle nav-right';
	height: $top-bar-height;
	width: calc(100% - $top-bar-margin);
	background-color: $background-color-nav;

	
	.nav-item {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		color: white;
		padding: 0 20px;
		margin-left: 5px;
		margin-right: 5px;
		font-weight: 600;
		font-size: 18px;
		height: 100%;
		border-radius: calc($top-bar-height / 2);

		&:hover {
			cursor: pointer;
			color: $color-hover;
			background-color: $background-color-nav-hover;
		}
	}

	.nav-left {
		display: flex;
		justify-content: flex-start;
	}

	.nav-right {
		display: flex;
		justify-content: flex-end;
	}

	#hamburger {
		margin-left: 0px;
	}

	#logo {
		padding-left: 5px;
		padding-right: 20px;

		&:hover {
			background-color: $background-color-nav;
		}
		img {
			height: $top-bar-height - 4px;
			padding-right: 4px;
		}
		div {
			font-weight: 700;
			font-size: 22px;
		}
	}
}

#side-bar {
	position: absolute;
	z-index: 11;
	width: $side-bar-width;
	height: calc(100vh - $top-bar-height - (2 * $top-bar-margin));
	background-color: $background-color-sidebar;
	overflow-y: auto;
	filter: drop-shadow(0 0 10px black);

	&::-webkit-scrollbar {
		width: 8px;
	}
  
	&::-webkit-scrollbar-thumb {
		background-color: white;
		border: 2px solid $background-color-sidebar;
		border-radius: 100px;
	}
  
	&::-webkit-scrollbar-track {
		background-color: $background-color-sidebar;
	}
}


.overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 0, 0, 0.5);
}

.side-bar-item-container {
	.side-bar-item {
		display: flex;
		height: 70px;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 5px;
		
		.dropdown-toggle {
			width: 100%;
			height: 100%;
			color: white;
			font-size: 24px;
			text-align: center;

			display: grid;
			grid-template-columns: 1fr 70px;
			align-items: center;
			justify-content: center;

			&:hover {
				cursor: pointer;
				background-color: $background-color-nav-hover;
			}

			.dropdown-text {
				padding-left: 20px;
			}

			h1 {
				text-align: left;
				font-size: 18px;
			}
			p {
				text-align: left;
				font-size: 12px;
				color: rgba(255, 255, 255, 0.7);
			}
		}
		
	}

	.side-bar-expandable-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		background-color: rgb(155, 67, 67);

		.side-bar-expandable {
			font-size: 14px;
			color: white;
			width: 100%;
			height: 30px;
			padding: 5px;
			text-align: left;
			padding-left: 45px;

			&:hover {
				background-color: $background-color-nav-hover;
			}

		}
	}
}


#bracket-container {
	height: calc(100vh - $top-bar-height - (2 * $top-bar-margin));
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	
	#bracket-info {
		padding-bottom: 50px;
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 30px;
		}
		h3 {
			font-size: 20px;
			color: lightgrey;
			font-style: italic;
		}
	}

	#bout {
		height: auto;
		display: flex;
		justify-content: center;
		gap: 50px;
		padding-bottom: 50px;

		.entry {
			max-width: 720px;
			width: 40vw;
			padding: 20px;
			border-radius: 10px;
			border: black 2px solid;

			&:hover {
				cursor: pointer;
				border: white 2px solid;
			}

			&.selected {
				background-color: white;
				color: black;
				border: white 2px solid;

			}

			iframe {
				width: 75%;
				height: calc(width / 16 * 9);
				border: rgba(255, 255, 255, 0.5) 1px solid;
				border-radius: 10px;

			}
		}
	}
}
